*{
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.btn{
    width: 100%;
    height: 70px;
}
.order .btn, .kvittoCont .btn{
    width: 30%;
    margin-bottom: 50px;
    height: 60px;
}
 ul{
    list-style: none;
    margin-top: 2em;
}
.meny ul li{
    margin-top: 1em;
}
.kund-order li:nth-child(1), .kvitto-order li:nth-child(1) {
    font-size: 130%;
    font-weight: bold;
}

.bord{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.bord li{
    padding-top: 10%;
    padding-bottom: 10%;
}

.pizza1,
.pizza2,
.pizza3,
.sos,
.dryck {
  list-style-type: none;
  padding: 0;
}

.pizza1 li,
.pizza2 li,
.pizza3 li,
.sos li,
.dryck li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.btn-success {
  margin-left: auto; /* Align the button to the right */
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}



  
